{% extends 'layouts/base.html' %}

{% block content %}
<div class="mdl-grid">
<div style="margin-top:3%;margin-bottom:auto;margin-left: auto;margin-right: auto" class="mdl-cell mdl-cell--5-col">
    <div style="margin-right: auto;margin-left: auto">
        <div class="mdl-layout-title">搜索图文，动态，用户和照片</div>
        <br>
        <form action="/search/" method="get">
            {% csrf_token %}
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-cell--9-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="search" required>
                    <label class="mdl-textfield__label" for="search">搜索图文，动态，用户和照片</label>
                </div>
                <button class="mdl-button mdl-js-button">
                    搜索
                </button>
            </div>
        </form>
    </div>
</div>
</div>
{% if search_with_content or search_with_email or search_with_title or search_with_user_email or search_with_user_username %}
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
{% if search_with_title %}{{ search_with_title }}{% endif %}
{% if search_with_user_email %}{{ search_with_user_email }}{% endif %}
{% if search_with_user_username %}{{ search_with_user_username }}{% endif %}
{% if search_with_content %}{{ search_with_content }}{% endif %}
{% if search_with_email %}{{ search_with_email }}{% endif %}
</div>
{% endif %}
{% endblock %}