{% extends 'layouts/base.html' %}

{% block content %}

<div class="mdl-grid">
<div style="margin-top:12%;margin-left: auto;margin-right: auto" class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone">
<div style="width: 100%" class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">团队介绍</h2>
  </div>
  <div class="mdl-card__supporting-text">
      <p>DCIT团队是一个初创团队,致力于计算机编程研究,开源软件和游戏开发.团队成立于2016年4月,由在校大学生组成,也有爱好编程的朋友.</p>
      <br>
      <p>Dictamnus E是团队的官方网站,倾向于网站开发,网站安全维护,游戏编程. 我们并不是专业团队,但我们希望把所有能做的事做到细致.
      </p>
  </div>
</div>
</div>
</div>

{% endblock %}