{% extends 'layouts/dashlayouts/base.html' %}
{% block content %}
<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-grid">
        <svg fill="currentColor" width="200px" height="100px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--3-col-desktop">
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">{{ friends_list }}<tspan font-size="0.2" dy="-0.07">位好友</tspan></text>
        </svg>
        <svg fill="currentColor" width="200px" height="100px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--3-col-desktop">
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">{{ contentcount }}<tspan dy="-0.07" font-size="0.2">条动态</tspan></text>
        </svg>
        <svg fill="currentColor" width="200px" height="100px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--3-col-desktop">
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">{{ blogcount }}<tspan dy="-0.07" font-size="0.2">篇文章</tspan></text>
        </svg>
        <svg fill="currentColor" width="200px" height="100px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--3-col-desktop">
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%自空间热度</tspan></text>
        </svg>
    </div>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
        {% for content in postcontent %}
            {% if content.email in list %}
                {% for users in allusers %}
                    {% if users.email == content.email %}
                        <div style="margin-left: auto;margin-right: auto" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="mdl-card--expand mdl-color--blue-200">
                                <div class="mdl-cell mdl-grid mdl-cell--12-col"><div class="mdl-cell mdl-cell--3-col">
                                    <img src="/{{ users.head }}" class="demo-avatar">
                                    <dialog style="width: 300px" class="mdl-dialog">
                                        <h6>确定添加{{ users.email }}为好友吗?</h6>
                                        <div>
                                            <form method="post" action="/getaddfriend/">
                                                {% csrf_token %}
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <label for="email">用户名</label>
                                                    <input class="mdl-textfield__input" value="{{ users.email }}" type="text" id="p_email" name="p_email">
                                                </div>
                                                <button type="submit" class="mdl-button">发送</button>
                                                <button type="button" class="mdl-button close">取消</button>
                                            </form>
                                        </div>
                                    </dialog>
                                </div>
                                    <div class="mdl-cell mdl-cell--6-col">
                                        <h2 class="mdl-card__title-text">{{ users.username }}</h2>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col">
                                        <button id="show-dialog" type="button" class="mdl-button">加好友</button>
                                    </div>
                                </div>
                            </div>
                            {% if not content.title == "" %}
                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                    {{ content.title }}
                                </div>
                            {% endif %}
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                {{ content.content }}
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <button onclick="Show_Hidden({{ content.id }})" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                    评论
                                </button>
                                发表日期: {{ content.date  }}
                            </div>
                            <div id="{{ content.id }}" style="display:none;" class="mdl-card__actions mdl-card--border">
                                <form method="post" action="/comment/">
                                    {% csrf_token %}
                                    <div style="width: 100%" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <textarea class="mdl-textfield__input" name="p_comment" type="text" rows= "3" id="p_comment" ></textarea>
                                        <label class="mdl-textfield__label" for="p_comment">请输入</label>
                                    </div>
                                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                        评论
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <a href="/blog" class="mdl-button mdl-js-button mdl-button--raised">
                    写日志
                </a>
                <button class="mdl-button mdl-js-button mdl-button--raised">
                    上传图片
                </button>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                {% include 'users/Dashboard/postcontent/postcontent.html' %}
            </div>
        </div>
        <div class="demo-separator mdl-cell--1-col"></div>
        <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>View options</h3>
                <ul>
                    <li>
                        <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Click per object</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Views per object</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Objects selected</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Objects viewed</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">location_on</i>
            </div>
        </div>
    </div>
</div>

{% endblock %}